*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

html{font-size: 62.5%;}
body{-webkit-font-smoothing: antialiased;}
h1, h2, h3, p{margin:0;}

.cont-portafolio .max-width-144, .cont-profesional .max-width-144{padding: 18rem 5rem;}
.header .max-width-144, .cont-name .max-width-144{padding: 0 5rem;}
.position-relative{position: relative;}
.menu-fixed{position: fixed;}

/* cont-galery */
.cont-galery .max-width-144, .cont-galery-shazam .max-width-144, .cont-galery-illustration .max-width-144{
    padding: 10rem 5rem;
    /* height: 100%; */

    display: flex;
    flex-direction: column;
    justify-content: center;
} 

.cont-galery-illustration .max-width-144{
    /* height: 100%; */
}

.cont-galery, .cont-galery-shazam, .cont-galery-illustration{
    /* height: calc(100% - 10.7rem); */
    width: 100%;
    background-color: black;
    /* margin-top: auto; */
}

.cont-galery-shazam{
    /* height:100%; */
    display: flex;
}

.galery-sec1-Design{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;

    align-items: center;
}

.galery-sec1-illustration{
    margin: auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 4rem;
    align-items: center;

    margin-top: 3rem;
}

.galery-sec1-illustration:last-of-type{
    margin-top: 4rem;
}

.galery-sec1-Design:last-child{
    margin-top: 3rem;
}

.foto-1{
    width: 100%;
    height: 40rem;
    background-color: #2B2B2B;
}

.foto-2{
    width: 100%;
    height: 80rem;
    background-color: #2B2B2B;
}

.foto-1, .foto-2, .foto-3, .foto-4{
    overflow: hidden;
}

.foto-3{
    width: 100%;
    height: 40rem;
    background-color: #2B2B2B;
}

.foto-4{
    width: 100%;
    /* height: 40rem; */
    background-color: #2B2B2B;
}

.fotos-buscamed, .foto-buscamed1, .foto-buscamed2, .foto-buscamed3, .fotos-Shazam, .fotos-Shazam1, .fotos-Shazam2, .fotos-Shazam3, .fotos-Shazam4, .afiches-illustration{
    background-size: cover;
    background-position: center;

    width: 100%;
    height: 100%;
    transition: 0.3s;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.imagen-shazam2{
    width: 100%;
    height: auto ;
    transition: 0.3s;
    -webkit-transition:  0.3s;
}

.imagen-shazam2:hover{
    transform: scale(1.1);
}


.foto-3:hover .foto-buscamed1, .foto-3:hover .foto-buscamed2, .foto-3:hover .foto-buscamed3:hover, .foto-1:hover .fotos-buscamed:hover{
    transform: scale(1.1);
    filter: blur(2px);
}


/* ========== ======== ======== FOTOS PARA LAS PARTES DEL PORTAFOLIO ========== ======== ======== */

.fotos-buscamed{
    background-image: url(../imagenes/disenos/31-agosto_Mesa\ de\ trabajo\ 1.png)
}

.fotos-Shazam{
    /* background-image: url(../imagenes/ilustraciones/shazam/logo.jpg); */
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}


/* shazam */
.fotos-Shazam1{
    background-image: url(../imagenes/ilustraciones/shazam/black\ adams.jpg)
}

.fotos-Shazam2{
    background-image: url(../imagenes/ilustraciones/shazam/shazam.jpg)
}

.fotos-Shazam3{
    background-image: url(../imagenes/ilustraciones/shazam/dotor\ shazam.jpg)
}

.fotos-Shazam4{
    background-image: url(../imagenes/ilustraciones/shazam/motaje\ completo.png);
}

/* afiches ilustracion */
.afiches-illustration{
    background-image: url(../imagenes/ilustraciones/afiches/cr7_Mesa\ de\ trabajo\ 1.png);
    position: relative;
    
}

.afiches-illustration::before, .fotos-Shazam::before{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;


    /* background: -moz-linear-gradient(left,  rgba(0,0,0,1) 0%, rgba(255,255,255,0) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 50%,rgba(0,0,0,1) 100%); 
    background: linear-gradient(to right,  rgba(0,0,0,1) 0%,rgba(255,255,255,0) 50%,rgba(0,0,0,1) 100%);  */

}


/* buscamed */
.foto-buscamed1{
    background-image: url(../imagenes/disenos/31-agosto_Mesa\ de\ trabajo\ 1.png);
}

.foto-buscamed2{
    background-image: url(../imagenes/disenos/4-septiembre-01.png);
}

.foto-buscamed3{
    background-image: url(../imagenes/disenos/cancer\ de\ mama_Mesa\ de\ trabajo\ 1\ copia\ 7.png)
}

.title-page-designer{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 3rem;
}

.text-page-designer{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #7A7A7A;
    text-align: center;
}

/* designer */
.imagen-father-design{
    width: 100%;
    height: 50%;
    background-color: blanchedalmond;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:10.7rem;
}

.imagen-father-design{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imagen-father-design h2{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 4.4rem;
    color: #545454;
    text-align: center;
}

.imagen-father-design p{
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: 2rem;
    color: #545454;
    text-align: center;
}

.hover-design:hover{
    cursor: pointer;
}

.hover-design:hover .fotos-Shazam, .hover-design:hover .afiches-illustration{
    transform: scale(1.1);
}



/* illustration */
.imagen-father-design-shazam{
    width: 100%;
    height: 50%;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:10.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-father-design-shazam{
    display: flex;
    flex-direction: column;
    justify-content: center;
}













.cont-image{
    /* height: 70%; */
    width: 100%;
    /* background: rgba(255, 255, 255, 0.06); */
    background-color: white;
    border-radius: 3px;
}


.cont-image{
    /* overflow: hidden; */
    position: relative;
}

.cont-slider-2{
    padding: 4rem 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.pagination{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-left: 3rem;

    background-color: #2B2B2B;
    transition: 0.3s;
}

.pagination:hover{
    cursor: pointer;
    background-color: rgba(142, 204, 108, 0.5)
}

.flecha-1, .flecha-2{
    width: 5rem;
    height: 5rem;
    position: absolute;
    background-color: #8ECC6C;
    border-radius: 50%;

    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: normal;

    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

.flecha-1{
    right: 13rem;
    bottom: 3rem;
    transition:0.3s;
}

.flecha-2{
    right: 5rem;
    bottom: 3rem;
    transition:0.3s;
}

.flecha-1:hover, .flecha-2:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.cont-image li{
    padding: 3rem;
    /* height:-webkit-fill-available; */

    display: flex;

}

.img-slider-diseno{
    width: 25%;
    height: auto;
}

.info-img-slider{
    padding: 0 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-img-slider h2{
    font-family: 'Raleway', sans-serif;
    font-size: 5rem;
    font-weight: bold;
    /* color: rgba(255, 255, 255, 0.5); */
    /* color: white; */
}

.info-img-slider h3{
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    /* color: rgba(255, 255, 255, 0.5); */
    /* color: white; */
}

.info-img-slider p{
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    font-weight: normal;

    padding: 2rem 0;
    /* color:rgba(255, 255, 255, 0.09); */
    /* color: white; */
}








/* slider para modal */
.swiper-container {
    width: 100%;
    height: 100%;
    background-color: black;
    /* margin-top: 7.6rem; */
}

.swiper-wrapper{
    margin: auto!important;
    display: flex;
    align-items: center;

    /* height: auto; */
}



.swiper-slide {
    /* background-color: black; */
    -webkit-box-shadow: 14px 10px 32px -20px rgba(0,0,0,0.32);
    -moz-box-shadow: 14px 10px 32px -20px rgba(0,0,0,0.32);
    box-shadow: 14px 10px 32px -20px rgba(0,0,0,0.32);
    background-position: center;
    background-size: cover;
    width: 200px;
    height: 300px;

    display: flex;
    align-items: center;
}

.swiper-pagination-bullet{
    background: white!important;
}

.display-none-xs{
    display: block;
}

.display-block-xs{
    display: none;
}








.cont-button-back{
    display: flex;
    justify-content: flex-end;
}

.button-back{
    width: 10%; 
    padding: 1rem 2rem; 
    background-color:#2B2B2B;
    display: flex; 
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7rem;
    color:white;
    margin-top: 5rem;
    transition: 0.3s
}

.button-back:hover{
    background-color: rgb(26, 25, 25);
    color:white;
    cursor: pointer;
    transform: scale(0.9);

}
