.modification-modal-dialog-mision{
    max-width: inherit!important;
    padding: 0 25%!important;
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0%!important;
}

.modification-modal-content-mision{
    padding: 3rem;
    position: relative;
    height: fit-content;
    background-color: #353535!important;
}

.button-close-mision{
    margin-left: auto!important;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    padding: 0!important;
}

.title-modal-mision{
    font-family: 'Raleway', sans-serif;
    font-weight: 600!important;
    font-size: 3rem!important;
    color: rgba(250,250,250, 0.3)!important;
}

.text-modal-mision{
    font-family: 'Raleway', sans-serif;
    font-weight: normal!important;
    font-size: 2rem!important;
    color: rgba(250,250,250, 0.3)!important;
}

.cont-info-mision{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.foto-mision{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: grey;
    top: -5rem;
    border: 10px solid white;
}


/* modal para diseno */
.modification-modal-dialog-design{
    max-width: inherit!important;
    /* padding: 0 25%!important; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%!important;
}

.modification-modal-content-design{
    /* padding: 3rem; */
    position: relative;
    height: fit-content;    
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    
    background-color: transparent;
    border: none!important;
}

.button-close-design{
    margin-left: auto!important;
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: normal;
    padding: 0!important;

    color: white;
    margin-bottom: 1.5rem;
}

.cont-info-design img{
    width: 50rem;
    height: 50rem;
}

.cont-info-illustration img{
    width: 50rem;
    height: auto;
}



/*responsive**/
@media only screen and (max-width: 767px){
    .text-modal-mision{
        font-size: 1.1rem!important;
    }

    .modification-modal-dialog-mision{
        padding: 0 4rem!important;
    }

    .cont-info-mision{
        display: block;
    }

    .foto-mision{
        width: 12rem;
        height: 12rem;
        left: calc(50% - 6rem)
    }

    .title-modal-mision{
        line-height: 1;
        margin-top: 3rem;
    }

    .modification-slider-modal{
        padding: 0 2rem!important;
        /* display: grid; 
        align-items: center; */
        /* justify-content: center;
        /* height: auto; */
    }
}